.search-tab
  display: flex
  justify-content: space-between
  border-bottom 2px solid #ff7043
  padding: 0 20px

.search-tab__title
  color #3f3f3f
  font-size 28px

.search-tab__search-panel
  display: flex
  align-items: center


.search-tab__search-input
  border: 1px solid #efefef
  height 30px
  padding: 0
  padding-left: 10px
  font-size 16px
  outline: none

  &::placeholder 
    color #757575

.search-tab__search-btn
  border: none
  background-color: #efefef
  color: #000
  height 32px 
  padding: 0 10px
  font-size 16px
  outline: none
  cursor pointer
  


/* ================= modificators ==================== */
.search-tab__search-input_no-validation
  border 1px solid #d32f2f